.mobile-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    overflow: hidden;
    background: #03383ee3;
    color: #fff;
    padding: 50px 0 0 0;
    text-align: center;
    touch-action: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -ms-flex-line-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
}

@supports (color: var(--primary)) {
    .mobile-menu {
        height: calc(100vh - var(--ios-fix));
        top: calc(var(--ios-fix) - 100vh);
    }
}

.mobile-menu ul {
    padding: 0;
    font-size: 34px;
    line-height: 48px;
    font-family: "Axiforma-Light", sans-serif;
}

.mobile-menu li a {
    padding: 8px 20px;
}

.show-mobile-menu {
    top: 0;
}

.bar .hamburger {
    width: 40px;
    height: 40px;
    padding: 13px 11px;
    display: block;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 5;
}

.ie9 .hamburger,
.ie8 .hamburger,
.ie9 .hamburger:before,
.ie8 .hamburger:before {
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.hamburger span {
    width: 18px;
    height: 2px;
    position: absolute;
    left: 11px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.hamburger .line1 {
    top: 13px;
}

.hamburger .line2 {
    top: 19px;
}

.hamburger .line3 {
    top: 25px;
}

.closeburger .line1 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19px;
}

.closeburger .line2 {
    opacity: 0;
}

.closeburger .line3 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 19px;
}